.block-4__grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: none; */
}

/* Grid-2-col-first */

.block-4__grid-2-col-first {
  padding-right: 22px;
}

.block-4__grid-2-col-first-subtitle {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806c;
  margin-bottom: 19px;
}

.block-4__grid-2-col-first-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #214e41;
  margin-bottom: 35px;
}

.block-4__grid-2-col-first-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
}

/* Grid-2-col-second */

.block-4__grid-2-col-second {
  background-repeat: no-repeat;
  justify-self: end;
}
