.block-3__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 120px;
}

.block-3__left-section {
  padding: 120px 0 128px 120px;
  background-color: var(--light-green-color);
}

.block-3__subtitle {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: var(--darck-green-color);
  margin-bottom: 30px;
}

.block-3__services-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  color: var(--medium-green-color);
}

.block-3__services-item:not(:last-child) {
  margin-bottom: 18px;
}

.block-3__services-item_selected {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: var(--darck-green-color);
}

.block-3__services-item_selected::after {
  content: url("../../img/services-list-arrow.svg");
  margin-left: 30px;
}

.block-3__right-section {
  background-color: var(--darck-green-color);
  padding: 160px 120px 120px 100px;
}

.block-3__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: var(--white-color);
}
